altgraph==0.17
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
Cython==0.29.21
fake-useragent==0.1.11
future==0.18.2
Google-Search-API==1.1.14
googlepy==0.0.3
idna==2.10
multidict==5.1.0
numpy==1.20.1
pandas==1.2.2
pefile==2019.4.18
pyinstaller-hooks-contrib==2020.11
PyQt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
selenium==2.53.6
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.2
Unidecode==1.2.0
urllib3==1.26.3
vcrpy==4.1.1
wrapt==1.12.1
yarl==1.6.3